.tify-search {
	@extend %panel;
	overflow-y: auto;
	padding: ($grid / 2);
}

.sibHeader {
    margin: 0px 0 0 0;
    padding: 15px 0 15px 0;
}

.sibHeaderTitle {
    margin: 0px 0px 5px 15px;
    font-size: 16px;
}

.sibHeaderText {
    margin: 0px 0px 0px 15px;
}

.sibHeaderText input[type="text"] {
    width: 250px;
}

#searchResults {
    display: none;
}

.sibResultsHeader {
    padding: 10px 0px 10px 15px;
    font-size: 14px;
}

.sibResultsContainer {
    padding: 0px 0px 10px 0px;
    font-size: 12px;
    max-height: 450px;
    overflow: auto;
}

.sibResultsBox {
    margin: 5px 10px 5px 10px;
    /*border-color: #222F3B;*/
    border-style: solid;
    border-width: 1px;
}

.sibResultBox {
    margin: 5px 0px 5px 15px;
}

.sibResultPage, .sibResultPage:hover, .sibResultPage:visited {
    color: #98CDCF;
}

.sibResultText {
    margin: 3px 0px 3px 20px;
    font-style: italic;
}

.sibResultText b {
    color: #fcd3a1;
}

.sibBtn {
    background: #525c6b;
    background-image: -webkit-linear-gradient(top, #525c6b, #2b3038);
    background-image: -moz-linear-gradient(top, #525c6b, #2b3038);
    background-image: -ms-linear-gradient(top, #525c6b, #2b3038);
    background-image: -o-linear-gradient(top, #525c6b, #2b3038);
    background-image: linear-gradient(to bottom, #525c6b, #2b3038);
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 6px;
    font-family: Arial;
    color: #ffffff;
    font-size: 14px;
    padding: 2px 3px 2px 3px;
    text-decoration: none;
}

.sibBtn:hover {
    background: #7994a3;
    background-image: -webkit-linear-gradient(top, #7994a3, #5b6e7a);
    background-image: -moz-linear-gradient(top, #7994a3, #5b6e7a);
    background-image: -ms-linear-gradient(top, #7994a3, #5b6e7a);
    background-image: -o-linear-gradient(top, #7994a3, #5b6e7a);
    background-image: linear-gradient(to bottom, #7994a3, #5b6e7a);
    text-decoration: none;
}
